.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 24px !important;
  font-weight: bold !important;
  color: #084f4b;
}

.swiper-pagination {
  bottom: 95px;
}

.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  background-color: #fff;
}
.swiper-pagination-bullet.swiper-pagination-bullet-active {
  width: 10px;
  height: 10px;
}
